<h1>Edit Dino Profile</h1>

  <form action="/dinosaurs/<%= dinosaur.id %>" method="post">
    <input type="hidden" name="_method" value="put">

    <label for="dinosaur_name">Name</label>
    <input type="text" name="dinosaur[name]" id="dinosaur_name" value="<%= dinosaur.name %>">

    <label for="dinosaur_age">Age</label>
    <input type="Number" name="dinosaur[age]" id="dinosaur_age" value="<%= dinosaur.age %>">

    <label for="dinosaur_species">Species</label>
    <input type="text" name="dinosaur[species]" id="dinosaur_species" value="<%= dinosaur.species %>">

    <label for="dinosaur_image">Image</label>
    <input type="text" name="dinosaur[image]" id="dinosaur_image" value="<%= dinosaur.image %>">

    <label for="dinosaur_eatsYou">Eats You</label>
    <input type="checkbox" name="dinosaur[eatsYou]" id="dinosaur_eatsYou" value="<%= dinosaur.eatsYou %>">

    <label for="dinosaur_inJurrasicPark">In Jurrasic Park</label>
    <input type="checkbox" name="dinosaur[inJurrasicPark]" id="dinosaur_inJurrasicPark" value="<%= dinosaur.inJurrasicPark %>">

  <button>Update</button>

</form>
