<h1>Your Dino Date</h1><br>

<img src="<%= dinosaur.image %>"><br>
<h2>Name: <%= dinosaur.name %></h2><br>
<h2>Age: <%= dinosaur.age %></h2><br>
<h2>Species: <%= dinosaur.species %></h2><br>
<h2>Might Eat You? <%= dinosaur.eatsYou %></h2><br>
<h2>Famous From A Movie? <%= dinosaur.inJurrasicPark %></h2><br>

<button><a href="/dinosaurs/<%= dinosaur.id %>/edit">Edit</a></button>
<form action="/dinosaurs/<%= dinosaur.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete</button>
</form>
