<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @country.image %>
</p>

<p>
  <strong>Size:</strong>
  <%= @country.size %>
</p>

<p>
  <strong>Population:</strong>
  <%= @country.population %>
</p>

<p>
  <strong>Language:</strong>
  <%= @country.language %>
</p>

<p>
  <strong>Gdp:</strong>
  <%= @country.gdp %>
</p>

<p>
  <strong>Continent:</strong>
  <%= @country.continent.name %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
